body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	background: linear-gradient(90deg, #004aff 0%, #008cff 100%);
	color: white;
	font-weight: 600;
	font-family: Arial, Helvetica, sans-serif;
}

.content { padding-left: 5rem }

canvas {
	width: 50vw;
	aspect-ratio: 1;
}

h1 { font-size: 3rem }

p {
	font-size: 1.5rem;
	.trans { opacity: .5 }
}

.contact { font-size: 2rem }

@media screen and (max-width: 70rem) {

	body { flex-direction: column }

	main {
		padding: 0;

		h1 { font-size: 7rem }

		p { font-size: 4rem }
		.contact { font-size: 5rem; color: white!important }
		.content { padding: 0 3.5rem }

		height: 100%;
		min-width: 100%;
		background: linear-gradient(180deg, #112d71 0%, #064a8200 100%);

	}

	canvas { width: 100vw }

}